{% load staticfiles %}
{% for comment in comments %}
<li>
	<div class="user-photo">
		<a href="customer/get/intro?id={{comment.author.id}}&open_id={{user.open_id}}">
			<img src="{% static 'img/photo.png' %}">
		</a>
	</div>
	<div class="course-comment-right">
		<p class="user-info">
			<span class="user-name">
				<a href="customer/get/intro?id={{comment.author.id}}&open_id={{user.open_id}}">
					{{comment.author.name}}
				</a>
			</span>
			<span class="course-time">{{comment.published}}</span>
		</p>
		<p class="course-comment-text">
			{{comment.comment}}
		</p>
	</div>
	<input type="hidden" name="comment-id" value="{{comment.id}}">
</li>
{% endfor %}
<input type="hidden" name="lastpage" value="{{ lastPage }}">
