{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{customer.name}}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajaxload.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<div class="person">
		<div class="p-head">
			<div class="p-photo">
				<img src="{{customer.head.url}}">
			</div>
			<!--<p class="p-score">积分：2</p>-->
			<h2 class="p-name">{{customer.name}}</h2>
		</div>
		<ul class="p-nav">
			<li class="active">
				<a href="/customer/get/articles?id={{customer.id}}&open_id={{user.open_id}}">
					TA发布的
				</a>
			</li>
			<!--<li>-->
				<!--<a href="/customer/get/intro?id={{customer.id}}&open_id={{user.open_id}}">-->
					<!--TA的资料-->
				<!--</a>-->
			<!--</li>-->
		</ul>
		<div class="course wrapper">
			<ul class="course-list">
			</ul>
			<div class="ajaxloading">
				<p>加载中……</p>
			</div>
			<script type="text/javascript">
				AjaxLoad.init({
					targetSelector: ".course-list",
					ajaxLoadText: '.ajaxloading',
					ajax: {
						method: "get",
						url: "/customer/get/articles/get?open_id={{user.open_id}}&id={{customer.id}}",
					},
				});
			</script>
		</div>
	</div>
</body>
{% endblock %}
