{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{customer.name}}资料
{% endblock %}

{% block body %}
<body class="white">
	<div class="person">
		<div class="p-head">
			<div class="p-photo">
				<img src="{% static 'img/photo.png' %}">
			</div>
			<!--<p class="p-score">积分：2</p>-->
			<h2 class="p-name">{{customer.name}}</h2>
		</div>
		<ul class="p-nav">
			<li>
				<a href="/customer/get/articles?id={{customer.id}}&open_id={{user.open_id}}">
					TA发布的
				</a>
			</li>
			<li class="active">
				<a href="/customer/get/intro?id={{customer.id}}&open_id={{user.open_id}}">
					TA的资料
				</a>
			</li>
		</ul>
		<div class="p-info">
			<div class="form-group">
				<div class="form-input">
					<label for="form-nickname">
						昵称：
					</label>
					<span>{{customer.name}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label for="form-email">
						邮箱：
					</label>
					<span>{{customer.email}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label for="form-qq">
						QQ：
					</label>
					<span>{{customer.qq}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-textarea">
					<label for="form-intro">
						个人简介：
					</label>
					<p>{{customer.introduction}}</p>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
