{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
个人用户
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/userphoto.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="b-tabs wrapper">
		<ul>
			<li class="active">
				<a href="/customer/customer_bind?open_id={{open_id}}&category={{category}}">
					个人用户
				</a>
			</li>
			<li>
				<a href="/customer/company_bind?open_id={{open_id}}&category={{category}}">
					企业用户
				</a>
			</li>
		</ul>
	</div>
	<form class="form wrapper" action="" method="post">
		<div class="form-group">
			<div class="form-input">
				<label for="form-nickname">
					昵称：
				</label>
				<input name="name" id="form-nickname" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-email">
					邮箱：
				</label>
				<input name="email" id="form-email" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-selector">
				<label for="form-province">
					省份：
				</label>
				<select id="form-province" name="province">
				</select>
			</div>
			<p class="form-hint">*选择省份有助于快速查找学校</p>
		</div>
		<div class="form-group">
			<div class="form-selector">
				<label for="form-school">
					学校：
				</label>
				<select id="form-school" name="school">
				</select>
			</div>
			<p class="form-hint">*选择即送50个积分</p>
		</div>
		<div class="form-group">
			<div class="form-userphoto">
				<ul class="form-userphoto-data" style="display:none">
					{% for item in list %}
					<li data-value="{{item.id}}" data-url="{{item.url}}"></li>
					{% endfor %}
				</ul>
				<img class="form-userphoto-img" src="">
				<input id="form-userphoto" type="hidden" name="userphoto" value="">
				<button class="form-userphoto-btn btn">修改头像</button>
			</div>
		</div>
		<input type="hidden" name="open_id" value="{{open_id}}">
		<input type="hidden" name="category" value="{{category}}">
		<div class="form-group form-pullbottom">
			<div class="form-submit">
				<button class="btn" type="submit">
					提交
				</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
MyForm.init({
	'#form-nickname': {
		'condition': 100,
		'hintTitle': '昵称',
	},
	'#form-email': {
		'condition': MyForm.checkEmail,
		'hintTitle': '邮箱',
	},
	'#form-school': {
		'hintTitle': '学校',
		'beNull': true,
	}
});

UserPhoto.init();

var SelectSchool = {
	parameter: {
		provinceSelector: '#form-province',
		schoolSelector: '#form-school',
	},
	init: function(parameter) {
		$.extend(SelectSchool.parameter, parameter);

		$.ajax({
			method: 'get',
			url: '/school/get/province',
			dataType: 'json',
			success: function(json) {
				if (json.status !== '0') {
					console.log('error', json.status);
					return false;
				}
				var list = json.list
				var html = '';
				for (var i = 0; i < list.length; i ++) {
					if (list[i].province === '湖北' || list[i].province === '湖北省') {
						html += '<option value="' + list[i].id + '" selected="selected">' + list[i].province + '</option>';
					} else {
						html += '<option value="' + list[i].id + '">' + list[i].province + '</option>';
					}
				}
				$(SelectSchool.parameter.provinceSelector).append(html);

				$(SelectSchool.parameter.provinceSelector).change(SelectSchool.getSchool);

				SelectSchool.getSchool();
			},
		});
	},
	getProvince: function() {
	},
	getSchool: function() {
		var value = $(SelectSchool.parameter.provinceSelector).select().val();
		$.ajax({
			method: 'get',
			url: '/school/get/school',
			data: {
				'province': value,
			},
			dataType: 'json',
			success: function(json) {
				if (json.status !== '0') {
					console.log('error', json.status);
					return false;
				}
				var list = json.list
				var html = '';
				for (var i = 0; i < list.length; i ++) {
					if (list[i].school === '武汉大学') {
						html += '<option value="' + list[i].id + '" selected="selected">' + list[i].school + '</option>';
					} else {
						html += '<option value="' + list[i].id + '">' + list[i].school + '</option>';
					}
				}
				$(SelectSchool.parameter.schoolSelector).html(html);
			},
		});
	},
}

SelectSchool.init();
	</script>
</body>
{% endblock %}
