{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
企业用户
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="b-tabs wrapper">
		<ul>
			<li class="active">
				<a href="customer/customer_bind?open_id={{open_id}}">
					个人用户
				</a>
			</li>
			<li>
				<a href="customer/company_bind?open_id={{open_id}}">
					企业用户
				</a>
			</li>
		</ul>
	</div>
	<form class="form wrapper" action="" method="post">
		<div class="form-group">
			<div class="form-input">
				<label for="form-companyname">
					企业名称：
				</label>
				<input name="name" id="form-companyname" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-num">
					执照号：
				</label>
				<input name="num" id="form-num" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-email">
					邮箱：
				</label>
				<input name="email" id="form-email" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-textarea">
				<label for="form-companyintro">
					企业介绍：
				</label>
				<textarea id="form-companyintro" name="introduction"></textarea>
			</div>
		</div>
		<input type="hidden" name="open_id" value="{{open_id}}">
		<div class="form-group">
			<div class="form-submit">
				<button class="btn" type="submit">
					提交
				</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
MyForm.init({
	'#form-companyname': {
		'condition': 100,
		'hintTitle': '企业名称',
	},
	'#form-num': {
        'condition': 100,
		'hintTitle': '执照号',
		},
	'#form-email': {
		'condition': MyForm.checkEmail,
		'hintTitle': '邮箱',
	},
	'#form-companyintro': {
		'condition': 300,
		'hintTitle': '企业介绍',
	}
})
	</script>
</body>
{% endblock %}
