{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
修改头像
{% endblock %}

{% block css %}
<style type="text/css">
.editphoto-btns {
	margin-top: 16px;
}
</style>
{% endblock %}

{% block body %}
<body class="white">
	<div class="wrapper">
		<form action="/customer/change/head" method="post">
			<input type="hidden" name="open_id" value="{{user.open_id}}">
			<div class="form-userphoto">
				<ul class="form-userphoto-radios">
					{% for item in list %}
					<li>
						<input id="userphoto{{ forloop.counter }}" type="radio" name="userphoto" value="{{item.id}}">
						<label for="userphoto{{ forloop.counter }}">
							<img class="form-userphoto-img" src="{{item.url}}">
						</label>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="editphoto-btns">
				<button class="btn" type="submit">保存</button>
			</div>
		</form>
	</div>
</body>
{% endblock %}