{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{article.title}}
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="course wrapper">
		<h2 class="course-title">
			<a href="">
				{{article.title}}
			</a>
		</h2>
		<div class="user">
			<div class="user-photo">
				<a href="">
					<img src="{% static 'img/photo.png' %}">
				</a>
			</div>
			<div class="user-info">
				<p class="user-name">
					<a href="">
						{{article.author}}
					</a>
				</p>
				<p class="course-time">{{article.published}}</p>
			</div>
		</div>
		<div class="course-content">
		        {% autoescape off %}
			{{article.content}}
		        {% endautoescape %}
		</div>
		<div class="course-comment">
			<h3>
				评论
			</h3>
			<ul class="course-comment-list">
				<li>
					<div class="user-photo">
						<a href="">
							<img src="{% static 'img/photo.png' %}">
						</a>
					</div>
					<div class="course-comment-right">
					<p class="user-info">
						<span class="user-name">
							<a href="">
								啦啦啦动感超人
							</a>
						</span>
						<span class="course-time">2015年7月21日</span>
					</p>
					<p class="course-comment-text">
						动感超人动感光波BBBBBB光屁股超人啦啦啦啦美伢你又胖了
					</p>
					</div>
				</li>
				<li>
					<div class="user-photo">
						<a href="">
							<img src="{% static 'img/photo.png' %}">
						</a>
					</div>
					<div class="course-comment-right">
					<p class="user-info">
						<span class="user-name">
							<a href="">
								啦啦啦动感超人
							</a>
						</span>
						<span class="course-time">2015年7月21日</span>
					</p>
					<p class="course-comment-text">
						动感超人动感光波BBBBBB光屁股超人啦啦啦啦美伢你又胖了
					</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
{% endblock %}
