{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{article.title}}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
		<a class="header-pc" href="customer/get/intro?id={{user.id}}&open_id={{user.open_id}}">个人中心</a>
	</header>
	<div class="course wrapper">
		<h2 class="course-title">
			<a href="">
				{{article.title}}
			</a>
		</h2>
		<div class="user">
			<div class="user-photo">
				<a href="customer/get/intro?id={{article.author.id}}&open_id={{user.open_id}}">
					<img src="{% static 'img/photo.png' %}">
				</a>
			</div>
			<div class="user-info">
				<p class="user-name">
					<a href="customer/get/intro?id={{article.author.id}}&open_id={{user.open_id}}">
						{{article.author.name}}
					</a>
				</p>
				<p class="course-time">{{article.published}}</p>
			</div>
		</div>
		<div class="course-content">
		        {% autoescape off %}
			{{article.content}}
		        {% endautoescape %}
		</div>
		<div class="course-comment">
			<h3>
				评论
			</h3>
			{% for comment in comments %}
			<ul class="course-comment-list">
				<li>
					<div class="user-photo">
					<a href="customer/get/intro?id={{comment.author.id}}&open_id={{user.open_id}}">
							<img src="{% static 'img/photo.png' %}">
						</a>
					</div>
					<div class="course-comment-right">
					<p class="user-info">
						<span class="user-name">
							<a href="customer/get/intro?id={{comment.author.id}}&open_id={{user.open_id}}">
								{{comment.author.name}}
							</a>
						</span>
						<span class="course-time">{{comment.published}}</span>
					</p>
					<p class="course-comment-text">
						{{comment.comment}}
					</p>
					</div>
				</li>
			</ul>
			{% endfor %}
		</div>
		<form class="form" action="news/comment" method="post">
			<div class="form-group">
				<div class="form-textarea">
					<textarea id="form-commenttext" name="comment" placeholder="评论内容"></textarea>
				</div>
			</div>
            <input type="hidden" name="open_id" value="{{user.open_id}}">
            <input type="hidden" name="article_id" value="{{article.id}}">
			<div class="form-group">
				<div class="form-submit">
					<button class="btn" type="submit">
						发表评论
					</button>
				</div>
			</div>
		</form>
		<script type="text/javascript">
MyForm.init({
	'#form-commenttext': {
		'condition': 300,
		'hintTitle': '留言',
	}
})
		</script>
	</div>
</body>
{% endblock %}
