<!DOCTYPE>
<html>
<head>
	<title>公共课</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="./img/logo.png">
		</div>
	</header>
	<div class="course wrapper">
		<h2 class="course-title">
			<a href="">
				这里是标题啊野原美伢
			</a>
		</h2>
		<div class="user">
			<div class="user-photo">
				<img src="./img/photo.png">
			</div>
			<div class="user-info">
				<p class="user-name">啦啦啦动感超人</p>
				<p class="course-time">2015年7月21日</p>
			</div>
		</div>
		<div class="course-content">
			动感超人动感光波BBBBBB光屁股超人啦啦啦啦美伢你又胖了
		</div>
		<div class="course-photo">
			<img src="./img/pic_1.png">
		</div>
		<div class="course-comment">
			<h3>
				评论
			</h3>
			<ul class="course-comment-list">
				<li>
					<div class="user-photo">
						<img src="./img/photo.png">
					</div>
					<div class="course-comment-right">
					<p class="user-info">
						<span class="user-name">啦啦啦动感超人</span>
						<span class="course-time">2015年7月21日</span>
					</p>
					<p class="course-comment-text">
						动感超人动感光波BBBBBB光屁股超人啦啦啦啦美伢你又胖了
					</p>
					</div>
				</li>
				<li>
					<div class="user-photo">
						<img src="./img/photo.png">
					</div>
					<div class="course-comment-right">
					<p class="user-info">
						<span class="user-name">啦啦啦动感超人</span>
						<span class="course-time">2015年7月21日</span>
					</p>
					<p class="course-comment-text">
						动感超人动感光波BBBBBB光屁股超人啦啦啦啦美伢你又胖了
					</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>