{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{category.name}}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajaxload.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{{category.url}}">
		</div>
		<a class="header-pc" href="/customer/get/articles?id={{user.id}}&open_id={{user.open_id}}">>>用户中心</a>
	</header>
	<div class="course wrapper">
		{% if category.message %}
		<p class="course-message">
			公告：{{ category.message }}
		</p>
		{% endif %}
		<a class="btn" href="/news/create?open_id={{user.open_id}}&category={{category.id}}">新建主题</a>
		<ul class="course-list">
		</ul>
		<div class="ajaxloading">
			<p>加载中……</p>
		</div>
		<script type="text/javascript">
			AjaxLoad.init({
				targetSelector: ".course-list",
				ajaxLoadText: '.ajaxloading',
				ajax: {
					method: "get",
					url: "/news/time_line/get?open_id={{user.open_id}}&category={{category.id}}",
				},
			});
		</script>
	</div>
</body>
{% endblock %}
