{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{category}}
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="course wrapper">
		<a class="btn" href="">新建主题</a>
		<ul class="course-list">
			{% for list in lists %}
			<li>
				<div class="user">
					<div class="user-photo">
						<a href="">
							<img src="{%static 'img/photo.png' %}">
						</a>
					</div>
					<div class="user-info">
						<p class="user-name">
							<a href="">
								{{list.author}}
							</a>
						</p>
						<p class="course-time">{{list.published}}</p>
					</div>
				</div>
				<h3 class="course-title">
					<a href="">
						{{list.title}}
					</a>
				</h3>
				<p class="course-preview">
					{{list.summary}}
				</p>
				<p class="course-more">
					<a href="http://120.24.80.78:8077/news/get?id={{list.id}}&category={{category}}">
						查看全文
					</a>
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</body>
{% endblock %}
