<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
	<title>商务合作</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
</head>
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="intro wrapper">
		<p>合作包括且不限于刊物图文撰稿、现场活动表演、商业合作宣传等等，提交以下信息，我们将及时与您联系。</p>
	</div>
	<form class="form wrapper" action="" method="post">
		<div class="form-group">
			<div class="form-input">
				<label for="form-name">
					*您的姓名：
				</label>
				<input name="user_name" id="form-name" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-connect">
					*联系方式：
				</label>
				<input name="contact" id="form-connect" type="text">
			</div>
			<p class="form-hint">
				*电话、邮箱、QQ、微信均可
			</p>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-companyname">
					*公司名称：
				</label>
				<input name="company_name" id="form-companyname" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-cooperation">
					*合作方向：
				</label>
				<input name="cooperation_way" id="form-cooperation" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-textarea">
				<label for="form-remark">
					备注：
				</label>
				<textarea name="others" type="hidden"></textarea>
				<p id="form-remark" contenteditable="true"></p>
			</div>
		</div>
		<div class="form-group">
			<div class="form-submit">
				<button class="btn" type="submit">
					提交
				</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
MyForm.init({
	'#form-name': {
		'condition': 100,
		'hintTitle': '姓名',
	},
	'#form-connect': {
		'condition': 100,
		'hintTitle': '联系方式',
	},
	'#form-companyname': {
		'condition': 100,
		'hintTitle': '公司名称',
	},
	'#form-companyname': {
		'condition': 100,
		'hintTitle': '合作方向',
	},
	'#form-companyname': {
		'condition': 300,
		'hintTitle': '备注',
		'beNull': true,
	},
})
	</script>
</body>
</html>
