{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
学习
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="course wrapper">
		<a class="btn" href="">新建主题</a>
		<ul class="course-list">
			<li>
				<div class="user">
					<div class="user-photo">
						<img src="./img/photo.png">
					</div>
					<div class="user-info">
						<p class="user-name">啦啦啦动感超人</p>
						<p class="course-time">2015年7月21日</p>
					</div>
				</div>
				<h3 class="course-title">
					<a href="">
						这里是标题啊野原美伢
					</a>
				</h3>
				<p class="course-preview">
					据悉微博知名娱乐评论人八哥专用爆料,有张翰的粉丝发微博贬低其前女友郑爽,张翰竟然点了个赞,被发现后取消点赞。引起网友热议。
				</p>
				<p class="course-more">
					<a href="">
						查看全文
					</a>
				</p>
			</li>
			<li>
				<div class="user">
					<div class="user-photo">
						<img src="./img/photo.png">
					</div>
					<div class="user-info">
						<p class="user-name">啦啦啦动感超人</p>
						<p class="course-time">2015年7月21日</p>
					</div>
				</div>
				<h3 class="course-title">
					<a href="">
						这里是标题啊野原美伢
					</a>
				</h3>
				<p class="course-preview">
					据悉微博知名娱乐评论人八哥专用爆料,有张翰的粉丝发微博贬低其前女友郑爽,张翰竟然点了个赞,被发现后取消点赞。引起网友热议。
				</p>
				<p class="course-more">
					<a href="">
						查看全文
					</a>
				</p>
			</li>
		</ul>
	</div>
</body>
{% endblock %}
