{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
个人中心
{% endblock %}

{% block body %}
<body class="white">
	<div class="person">
		<div class="p-head">
			<div class="p-photo">
				<img src="{% static 'img/photo.png' %}">
			</div>
			<p class="p-score">积分：2</p>
			<h2 class="p-name">{{ user.name }}</h2>
		</div>
		<ul class="p-nav">
			<li class="active">
				<a href="customer/get/articles?id={{user.id}}&open_id={{user.open_id}}">
					我发布的
				</a>
			</li>
			<li>
				<a href="customer/get/intro?id={{user.id}}&open_id={{user.open_id}}">
					我的资料
				</a>
			</li>
		</ul>
		<div class="course wrapper">
            {% for article in articles %}
			<ul class="course-list">
				<li>
					<p class="course-type">{{ article.category.name }}<a class="course-del" href="news/delete?open_id={{user.open_id}}&id={{article.id}}">删除</a></p>
					<p class="course-time">{{ article.published }}</p>
					<h3 class="course-title">
						<a href="href="news/get?id={{article.id}}&category={{article.category.name}}&open_id={{user.open_id}}">
							{{ article.title }}
						</a>
					</h3>
					<p class="course-preview">
						{{ article.summary }}
					</p>
					<p class="course-more">
						<a href="href="news/get?id={{article.id}}&category={{article.category.name}}&open_id={{user.open_id}}">
							查看全文
						</a>
					</p>
				</li>
			</ul>
			{% endfor %}
		</div>
	</div>
</body>
{% endblock %}
