{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
个人中心
{% endblock %}

{% block body %}
<body class="white">
	<div class="person">
		<div class="p-head">
			<div class="p-photo">
				<img src="{% static 'img/photo.png' %}">
			</div>
			<p class="p-score">积分：{{user.integral}}</p>
			<h2 class="p-name">{{user.name}}</h2>
			<a class="p-edit" href="customer/change/intro?id={{user.id}}&open_id={{user.open_id}}">修改</a>
		</div>
		<ul class="p-nav">
			<li>
				<a href="customer/get/articles?id={{user.id}}&open_id={{user.open_id}}">
					我发布的
				</a>
			</li>
			<li class="active">
				<a href="customer/get/intro?id={{user.id}}&open_id={{user.open_id}}">
					我的资料
				</a>
			</li>
		</ul>
		<div class="p-info">
			<div class="form-group">
				<div class="form-input">
					<label for="form-nickname">
						昵称：
					</label>
					<span>{{ user.name }}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label for="form-email">
						邮箱：
					</label>
					<span>{{ user.email }}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label for="form-qq">
						QQ：
					</label>
					<span>{{user.qq}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-textarea">
					<label for="form-intro">
						个人简介：
					</label>
					<p>{{user.introduction}}</p>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
