{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
个人中心
{% endblock %}

{% block body %}
<body class="white">
	<div class="person">
		<div class="p-head">
			<div class="p-photo">
				<img src="{% static 'img/photo.png' %}">
			</div>
			<!--<p class="p-score">积分：2</p>-->
			<h2 class="p-name">{{ user.name }}</h2>
		</div>
		<ul class="p-nav">
			<li>
				<a href="/customer/get/articles?id={{user.id}}&open_id={{user.open_id}}">
					我发布的
				</a>
			</li>
			<li class="active">
				<a href="/customer/get/intro?id={{user.id}}&open_id={{user.open_id}}">
					我的资料
				</a>
			</li>
		</ul>
		<div class="p-info">
			<form class="form wrapper" action="/customer/change/intro" method="post">
				<div class="form-group">
					<div class="form-input">
						<label for="form-nickname">
							昵称：
						</label>
						<input name="name" id="form-nickname" type="text" value="{{ user.name }}">
					</div>
				</div>
				<div class="form-group">
					<div class="form-input">
						<label for="form-email">
							邮箱：
						</label>
						<input name="email" id="form-email" type="text" value="{{ user.email }}">
					</div>
				</div>
				<div class="form-group">
					<div class="form-input">
						<label for="form-qq">
							QQ：
						</label>
						<input name="qq" id="form-qq" type="text" value="{{ user.qq }}">
					</div>
				</div>
				<div class="form-group">
					<div class="form-textarea">
						<label for="form-intro">
							个人简介：
						</label>
						<textarea name="introduction">{{ user.introduction }}</textarea>
					</div>
				</div>
                <input type="hidden" name="open_id" value="{{user.open_id}}">
					<div class="form-submit">
						<button class="btn" type="submit">
							保存
						</button>
					</div>
			</form>
		</div>
	</div>
</body>
{% endblock %}
