{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
新建主题
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<form class="form wrapper" action="/news/create" method="post">
		<div class="form-group">
			<div class="form-input">
				<label for="form-title">
					标题：
				</label>
				<input name="title" id="form-title" type="text">
			</div>
		</div>
        <div class="form-group">
			<div class="form-input">
				<label for="form-title">
					简介：
				</label>
				<input name="summary" id="form-title" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-textarea">
				<label for="form-content">
					内容：
				</label>
				<p contenteditable="true" id="form-content"></p>
				<textarea id="form-content-textarea" name="content"></textarea>
			</div>
		</div>
        <input type="hidden" name="open_id" value="{{open_id}}">
        <input type="hidden" name="category" value="{{category}}">
		<div class="form-group">
			<div class="form-submit">
				<button class="btn" type="submit">
					发布主题
				</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
MyForm.init({
	'#form-title': {
		'condition': 100,
		'hintTitle': '标题',
	},
    '#form-title': {
		'condition': 100,
		'hintTitle': '简介',
	},
	'#form-content': {
		'condition': 800,
		'hintTitle': '内容',
	}
})
	</script>
</body>
{% endblock %}
