{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
订阅
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block body %}
<body class="white">
	<header class="header wrapper">
		<div class="logo">
			<img src="{% static 'img/logo.png' %}">
		</div>
	</header>
	<div class="intro wrapper">
		<p>UNIPUB独立出版一系列刊物，书籍和视频作品。其中部分内容已在此公众号中推送，喜爱我们的读者，您只需点击下面的订阅按纽，使用相应积分即可通过电子邮箱定期收到我们制作的最新电子刊物，每期《UNIPUB青年空间》杂志100积分，《人性分析和实践》每集100积分，所有刊物首次订阅均可零积分。</p>
		<ul class="intro-images">
			<li>
				<img src="{% static 'img/pic_1.png' %}">
			</li>
			<li>
				<img src="{% static 'img/pic_2.png' %}">
			</li>
		</ul>
	</div>
	<form class="form wrapper" action="" method="post">
		<div class="form-group">
			<div class="form-input">
				<label for="form-phonenumber">
					电话：
				</label>
				<input name="phone_num" id="form-phonenumber" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-input">
				<label for="form-email">
					邮箱：
				</label>
				<input name="email" id="form-email" type="text">
			</div>
		</div>
		<div class="form-group">
			<div class="form-submit">
				<button class="btn" type="submit">
					提交
				</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
MyForm.init({
	'#form-phonenumber': {
		'condition': MyForm.checkMobilephone,
		'hintTitle': '电话',
	},
	'#form-email': {
		'condition': MyForm.checkEmail,
		'hintTitle': '邮箱',
	},
})
	</script>
</body>
{% endblock %}
