body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif; /* 字体 */
}

body {
	background-image: url(../img/background-yunwen@width=360.png);
	margin-bottom: 6px;
}

body.white {
	background-color: #fafcf1;
}

body.green {
	background-color: #438a7b;
}

.wrapper {
	margin-left: 6px;
	margin-right: 6px;
}

.header {
	margin-top: 6px;
	margin-bottom: 12px;
	padding: 3px 0;
	border-bottom: 1px solid #c2c2c2;
}

.header .logo img {
	width: 180px;
}

.form-group {
	margin: 15px 0;
}

.form-group .form-input, .form-group .form-textarea {
	padding: 10px 12px;
	background-color: #cbdad7;
}

.form-input label, .form-textarea label {
	font-size: 16px;
	color: #a0a0a0;
}

.form-input input {
	font-size: 16px;
	color: #747272;
}

.form-textarea p {
	margin-top: -3px;
	min-height: 8em;
	color: #747272;
	line-height: 1.8;
}

.form-textarea textarea {
	width: 100%;
	height: 6em;
	color: #747272;
	background-color: transparent;
	border: none;
	resize: none;
	outline: none;
}

.form-textarea p + textarea {
	height: 0;
}

.form-input input{
	background-color: transparent;
	border: 0;
	outline: none;
}

.form-hint {
	margin-top: 3px;
	color: #9c9c9c;
	font-size: 14px;
}

.form-textarea {
	overflow: hidden;
}

.form-textarea label {
	float: left;
}

.form-textarea-right {
	margin-left: 3em;
}

.form-pullbottom {
	margin-top: 36px;
}

.intro p {
	color: #9c9c9c;
	font-size: 14px;
}

.intro-images {
	margin: 20px 0;
	overflow: hidden;
}

.intro-images > li {
	float: left;
	text-align: center;
	width: 50%;
}

.intro-images > li > img {
	width: 92%;
}

.selections {
	margin-top: 120px;
}

.selections > li {
	margin: 20px 0;
}

.course-list {
	margin: 0 -6px;
}

.course-list > li {
	padding: 10px 6px;
	border-bottom: 1px solid #c2c2c2;
}

.user {
	margin: 8px 12px;
	overflow: hidden;
}

.course-list .user {
	margin: 0;
}

.user-photo {
	float: left;
	width: 56px;
}

.user-photo img {
	width: 100%;
}

.user-info {
	margin-left: 62px;
	padding-top: 20px;
}

.user-name {
	font-size: 11px;
	color: #5f5f5f;
}

.course-time {
	font-size: 11px;
	color: #757575;
}

.course-title {
	padding: 0 12px;
	font-size: 16px;
	color: #363636;
}

.course-list .course-title {
	margin: 12px 0 6px;
}

.course-preview, .course-content {
	padding: 0 6px;
	font-size: 13px;
	color: #757575;
	text-indent: 2em;
	line-height: 1.7;
}

.course-more {
	margin-bottom: 4px;
	font-size: 14px;
	color: #38796c;
	text-align: right;
}

.course-photo {
	margin: 4px 10px;
}

.course-photo img {
	width: 100%;
}

.course-comment {
	margin-top: 12px;
}

.course-comment h3 {
	padding: 0 12px;
	margin: 0 -6px;
	font-size: 14px;
	color: #3e3e3e;
	border-bottom: 1px solid #c2c2c2;
}

.course-comment-list > li {
	margin: 6px 0 8px;
}

.course-comment .user-photo {
	width: 40px;
}

.course-comment .user-info {
	margin-left: 0;
	padding-top: 0;
}

.course-comment .course-time {
	float: right;
	color: #c0c0c0;
}

.course-comment-text {
	font-size: 13px;
	color: #757575;
	line-height: 1.7;	
}

.course-comment-right {
	margin-left: 46px;
}

.course-del {
	float: right;
	color: #d16760;
}

.p-head {
	padding: 25px 0;
	height: 156px;
	color: #fff;
	background-color: #38796c;
}

.p-photo {
	overflow: hidden;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.p-photo img {
	width: 100%;
}

.p-name {
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
}

.p-edit {
	float: right;
	padding-right: 4px;
	font-size: 12px;
	line-height: 12px;
}

.p-nav {
	height: 26px;
	color: #dadada;
	font-size: 12px;
	text-align: center;
	background-color: #3f9080;
}

.p-nav > li {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin-right: 1em;
}

.p-nav > li:last-child {
	margin-right: 0;
}

.p-nav > li.active {
	color: #fff;
	border-bottom: 2px solid #e3bfbf;
}

.p-nav > li > a {
	display: block;
	height: 100%;
}

.person .course-title {
	margin-top: 0;
}

.course-type {
	color: #38796c;
	font-size: 12px;
}

.person .course-more {
	margin-bottom: 0;
}

.person .course-list > li {
	padding: 6px;
}

.p-info {
	margin-top: 12px;
}

.p-info .form-group {
	margin: 0;
	margin-top: -1px;
	color: #747272;
	font-size: 13px;
	border: 1px solid #c2c2c2;
}

.p-info .form-group .form-input, .p-info .form-group .form-textarea {
	padding: 10px 4px;
	font-size: 13px;
	background-color: transparent;
}

.p-info .form-input input, .p-info .form-group textarea {
	font-size: 13px;
}

.p-info .form-group label {
	font-size: 13px;
}

.p-info .form-submit {
	margin-top: 12px;
}

.p-info .form-submit button {
	padding: 6px 0;
}

.b-tabs > ul > li {
	display: inline-block;
	margin-right: 0.5em;
	height: 26px;
	color: #9f9fa0;
}

.b-tabs > ul > li.active {
	color: #438a7b;
	border-bottom: 2px solid #438a7b;
}

.b-tabs > ul > li > a {
	display: block;
	height: 100%;
}

.no-data {
	margin-top: 30px;
	color: #38796c;
	font-size: 12px;
	text-align: center;
}

.error {
	color: #DD9AB6;
}

.btn {
	display: block;
	padding: 10px 0;
	width: 100%;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background-color: #38796c;
	border-radius: 2px;
}

body.green .btn {
	background-color: #cbdad7;
	color: #38796c;
}
